version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./assets/images:/usr/share/nginx/html/assets/images
    restart: unless-stopped
    environment:
      - NGINX_HOST=cyberlogicit.com.au
      - NGINX_PORT=80
